// Branding
$primary: #0A1827;
$success: #2ecc71;
$warning: #FF7E7A;
$danger: #c0392b;
$info: #464080;

$background: #f1f5f9;

$white: #f6f9fc;

$shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);


// Shades of grey
$grey-10: #3E3D53;
$grey-9: #4F4F66;
$grey-8: #7E7E8F;
$grey-7: #9090A3;
$grey-6: #A3A3B5;
$grey-5: #C0C0CC;
$grey-4: #CCCCD9;
$grey-3: #DDDDE6;
$grey-2: #F0F0F5;
$grey-1: #F5F5F7;
$grey-0: #FAFAFC;